<section id="faq" class="fag">
  <div class="container">
    <div class="fag-container">
      <h2 class="fag-title">FAQ</h2>

      <div class="circle-container">
        <div class="circle">
          <div class="circle-inner">
            <div class="circle-front">
              <img
                width="100"
                height="100"
                class="key-circle-img"
                src="./img/faq/faq-fish1.png"
                alt="Image fish"
              />
              <p class="key-circle-text">Is the game free to play?</p>
            </div>
            <div class="circle-back">
              Yes! Aqua Match is free to play, with optional in-game purchases.
            </div>
          </div>
        </div>

        <div class="circle">
          <div class="circle-inner">
            <div class="circle-front">
              <img
                width="100"
                height="112"
                class="key-circle-img"
                src="./img/faq/faq-fish2.png"
                alt="Image fish"
              />
              <p class="key-circle-text">
                Do I need an internet connection to play?
              </p>
            </div>
            <div class="circle-back">
              You can play most of the game offline, but events and leaderboards
              require internet access.
            </div>
          </div>
        </div>

        <div class="circle">
          <div class="circle-inner">
            <div class="circle-front">
              <img
                width="100"
                height="118"
                class="key-circle-img"
                src="./img/faq/faq-fish3.png"
                alt="Image fish"
              />
              <p class="key-circle-text">How do I unlock new fish?</p>
            </div>
            <div class="circle-back">
              Complete match-3 puzzles and progress through levels to unlock new
              fish species.
            </div>
          </div>
        </div>

        <div class="circle">
          <div class="circle-inner">
            <div class="circle-front">
              <img
                width="100"
                height="109"
                class="key-circle-img"
                src="./img/faq/faq-fish4.png"
                alt="Image fish"
              />
              <p class="key-circle-text">Can I customize my aquarium?</p>
            </div>
            <div class="circle-back">
              Absolutely! Choose decorations, plants, and themes to create your
              dream aquarium.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
