<section id="game" class="game">
  <div class="container">
    <div class="game-container">
      <h2 class="game-title">Game Description</h2>

      <div class="game-wrap">
        <div class="game-wrap-text">
          <picture class="game-img">
            <source
              srcset="
                ./img/game/game-desk-1x.png 1x,
                ./img/game/game-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/game/game-mob-1x.png 1x,
                ./img/game/game-mob-2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              src="./img/game/game-mob-1x.png 1x"
              alt="Game features image"
            />
          </picture>
          <div class="game-li-text">
            <h5 class="game-li-text-title">Welcome to Aqua Match!</h5>
            <p class="game-li-text-text">
              Dive into an exciting world filled with match-3 puzzles and
              vibrant aquatic life. Solve puzzles, collect resources, and create
              the most stunning aquariums filled with unique fish species!
              Decorate and enhance your aquarium space while making friends with
              adorable underwater creatures.
            </p>
            <p class="game-li-text-text">
              Are you ready for the ultimate aquatic adventure?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
