<header class="header">
  <div class="header-wrapper">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="#game" class="nav-link">Game Description</a>
        </li>

        <li class="nav-item">
          <a href="#faq" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#player" class="nav-link">Player Reviews</a>
        </li>

        <li class="nav-item">
          <a href="#gallery" class="nav-link">Gallery</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-burger" data-modal-open>
      <img
        width="16"
        height="12"
        src="./img/burger.png"
        alt="Burger button"
        class="header-burger-img"
      />
    </button>
  </div>
</header>
