<section class="hero">
  <div class="hero-wrapper-dop">
    <div class="hero-wrapper">
      <p class="hero-text">Match, Decorate & Build Your Dream Aquarium!</p>
      <div class="wrap-img">
        <img
          class="hero-img-nemo"
          src="./img/hero/hero-nemo.png"
          alt="Image fish Nemo"
        />
        <img
          class="hero-img-fish"
          src="./img/hero/hero-pish.png"
          alt="Image two fish"
        />
      </div>
      <button class="hero-btn" href="#" rel="noopener noreferrer">
        <div class="hero-btn-wrap">
          <img
            class="hero-btn-img"
            src="./img/logo-google.png"
            alt="Google logo"
          />
          <img
            class="hero-btn-text"
            src="./img/text-btn.png"
            alt="Google Play"
          />
        </div>
      </button>
    </div>

    <button class="hero-btn-two" href="#" rel="noopener noreferrer">
      <div class="hero-btn-two-wrap">
        <img
          class="hero-btn-img-two"
          src="./img/logo-google.png"
          alt="Google logo"
        />
        <img
          class="hero-btn-text-two"
          src="./img/text-btn.png"
          alt="Google Play"
        />
      </div>
    </button>
  </div>
</section>
