<section id="key" class="key">
  <div class="container">
    <div class="key-container">
      <h2 class="key-title">Key Features:</h2>

      <div class="key-wrap-content">
        <div class="key-wrap-content-dop key-wrap-dop-one">
          <picture class="key-img key-img-one">
            <source
              srcset="
                ./img/key/key-two-desk-1x.png 1x,
                ./img/key/key-two-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/key/key-two-mob-1x.png 1x,
                ./img/key/key-two-mob-2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img src="./img/key/key-two-mob-1x.png 1x" alt="Key game image" />
          </picture>
          <ul class="key-wrap-text-ul">
            <li class="key-wrap-text-li key-text-one">
              <h5 class="key-wrap-text-tatle">Fun Match-3 Gameplay:</h5>
              <p class="key-wrap-text-p">
                Solve challenging match-3 puzzles to earn rewards and unlock new
                features.
              </p>
            </li>
            <li class="key-wrap-text-li key-text-two">
              <h5 class="key-wrap-text-tatle">Aquarium Customization:</h5>
              <p class="key-wrap-text-p">
                Decorate and design your dream underwater paradise.
              </p>
            </li>
            <li class="key-wrap-text-li key-text-three">
              <h5 class="key-wrap-text-tatle">Collect & Care for Fish:</h5>
              <p class="key-wrap-text-p">
                Unlock dozens of adorable fish with unique personalities.
              </p>
            </li>
          </ul>
        </div>

        <div class="key-wrap-content-dop key-wrap-dop-two">
          <picture class="key-img key-img-two">
            <source
              srcset="
                ./img/key/key-three-desk-1x.png 1x,
                ./img/key/key-three-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/key/key-three-mob-1x.png 1x,
                ./img/key/key-three-mob-2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img src="./img/key/key-three-mob-1x.png 1x" alt="Key game image" />
          </picture>
          <ul class="key-wrap-text-ul">
            <li class="key-wrap-text-li key-text-one">
              <h5 class="key-wrap-text-tatle">Exciting Challenges & Events:</h5>
              <p class="key-wrap-text-p">
                Participate in special events and earn exclusive rewards.
              </p>
            </li>
            <li class="key-wrap-text-li key-text-two">
              <h5 class="key-wrap-text-tatle">Stunning Visuals & Effects:</h5>
              <p class="key-wrap-text-p">
                Enjoy immersive underwater graphics and relaxing animations.
              </p>
            </li>
            <li class="key-wrap-text-li key-text-three">
              <h5 class="key-wrap-text-tatle">Engaging Storyline:</h5>
              <p class="key-wrap-text-p">
                Follow an exciting underwater journey filled with fun characters
                and challenges.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
