<div id="modal" class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <button type="button" class="back-button is-hidden" data-modal-close>
      <img
        width="16"
        height="12"
        src="../img/x-btn.png"
        alt="burger-button"
        class="back-img"
      />
    </button>

    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="/" class="modal-nav-link">Home</a>
        </li>

        <li class="modal-nav-item">
          <a href="#game" class="modal-nav-link">Game Description</a>
        </li>

        <li class="modal-nav-item">
          <a href="#faq" class="modal-nav-link">FAQ</a>
        </li>

        <li class="modal-nav-item">
          <a href="#player" class="modal-nav-link">Player Reviews</a>
        </li>

        <li class="modal-nav-item">
          <a href="#gallery" class="modal-nav-link">Gallery</a>
        </li>
      </ul>
    </nav>

    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a
          href="./privacy-policy.html"
          class="footer-nav-link footer-modal-nav-link"
          >Privacy policy</a
        >
      </li>

      <li class="footer-nav-item">
        <a href="./terms.html" class="footer-footer-nav-link"
          >Terms and Conditions</a
        >
      </li>

      <li class="footer-nav-item">
        <a href="./cookies.html" class="footer-footer-nav-link"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </div>
</div>
