<section id="player" class="player">
  <div class="container">
    <div class="player-container">
      <h2 class="player-title">Player Reviews</h2>

      <div class="player-wrap">
        <div class="player-wrap-elem-img">
          <picture class="game-img">
            <source
              srcset="
                ./img/player/player-desk-1x.png 1x,
                ./img/player/player-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/player/player-mob-1x.png 1x,
                ./img/player/player-mob-2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              src="./img/player/player-mob-1x.png 1x"
              alt="Player reviews image"
            />
          </picture>
        </div>

        <div class="player-wrap-elem">
          <h5 class="player-wrap-elem-title">Lily M., Puzzle Enthusiast:</h5>
          <p class="player-wrap-elem-text">
            "A perfect mix of match-3 and aquarium design! Love collecting all
            the fish."
          </p>
        </div>

        <div class="player-wrap-elem">
          <h5 class="player-wrap-elem-title">Jake R., Casual Gamer:</h5>
          <p class="player-wrap-elem-text">
            "Relaxing, colorful, and fun! The aquariums look amazing, and the
            puzzles are engaging."
          </p>
        </div>

        <div class="player-wrap-elem">
          <h5 class="player-wrap-elem-title">Emma T., Strategy Player:</h5>
          <p class="player-wrap-elem-text">
            "Challenging yet rewarding! Solving puzzles while decorating my
            aquarium is so satisfying."
          </p>
        </div>

        <div class="player-wrap-elem">
          <h5 class="player-wrap-elem-title">Daniel P., Adventure Seeker:</h5>
          <p class="player-wrap-elem-text">
            "The animations and effects are stunning! Feels like a real
            underwater world."
          </p>
        </div>

        <div class="player-wrap-elem">
          <h5 class="player-wrap-elem-title">Olivia S., Animal Lover:</h5>
          <p class="player-wrap-elem-text">
            "The fish are so cute! I love feeding them and watching them
            interact."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
